@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.top a {
    font-size: 18px;
    padding: 6px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s;
    color: #fff;
}

.top a:hover {
    font-size: 22px;
}

.main {
    width: 450px;
    padding: 25px;
    text-align: right;
    color: #f7f7f7eb;
    letter-spacing: 1px;
    z-index: 9999;
    font-size: 13px;
}

.small {
    color: #e8e8e899;
    font-size: 0.9rem;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 15px 0;
    font-size: 20px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    color: #fff;
}

.after {
    display: none;
}

.before {
    text-align: center;
    color: #fff;
    user-select: none;
    font-size: 12px;
    font-weight: 300;
}